// sass-lint:disable-all
@mixin min-screen($size) {
  $break: map-get($grid-breakpoints, $size);
  @if ($break) {
    @media (min-width: #{$break}) {
      @content;
    }
  } @else {
    @error "#{$break} is not defined";
  }
}

@mixin max-screen($size) {
  $break: map-get($grid-breakpoints, $size);
  @if ($break) {
    @media (max-width: #{$break}) {
      @content;
    }
  } @else {
    @error "#{$break} is not defined";
  }
}

// These functions and mixins are for the grid build
@function breakpoint-next($name) {
  $breakpoint-names: map-keys($grid-breakpoints);
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name) {
  $min: map-get($grid-breakpoints, $name);
  @return if($min !=0, $min, null);
}

@function breakpoint-max($name) {
  $next: breakpoint-next($name);
  @return if($next, breakpoint-min($next) - 1px, null);
}

@function breakpoint-infix($name) {
  @return if(breakpoint-min($name) ==null, "", "-#{$name}");
}
